/*
Champagne Pink: f2dfd7
Magnolia: fef9ff
Thistle: d4c1ec
Maximum Blue Purple: 9f9fed
Medium Slate Blue: 736ced
Light Orange: e7cfb3

https://coolors.co/f2dfd7-fef9ff-d4c1ec-9f9fed-736ced
*/


body {
  padding-top: 70px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) {
  display: inline;
}

.navbar-toggler-icon {
  display: inline;
  border-color: #fff;
}

.navbar {
  background-color: #454ade;
}

.nav-link {
  color: #fff;
}

.nav > li > a:hover {
  color: #e7cfb3;
  background-color: #9f9fed;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(100%);
  transition: 0.3;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #1b1f3b;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar h2 {
  color: #fef9ff;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #e7cfb3;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #736ced;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #000;
}

#main,
#albumTitle,
#artistTitle,
#trackTitle,
#genreTitle,
#playlistTitle {
  transition: margin-left 0.5s;
  padding: 20px;
}

.UserGreetings,
.UserPlaylist {
  padding: 20px;
}

.card {
  margin-right: 20px;
}

.card ul {
  height: 160px;
  width: 18rem;
  overflow: hidden;
  overflow-y: scroll;
}

.Album, .Artist {
  display: inline-table;
  padding: 20px;
}

.Genre, .Track {
  display: inline-table;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#Search {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 3px;
}

#Search:hover {
  background-color: grey;
  color: white;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3 {
  text-align: center;
  color: #333;
}
.register-form {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.register-form h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.register-form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.register-form .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.playlistCard th{
  display: none;
}

.card {
  display: inline-block;
  padding: 10px;
}
