/*
Champagne Pink: f2dfd7
Magnolia: fef9ff
Thistle: d4c1ec
Maximum Blue Purple: 9f9fed
Medium Slate Blue: 736ced
Light Orange: e7cfb3

https://coolors.co/f2dfd7-fef9ff-d4c1ec-9f9fed-736ced
*/


body {
  padding-top: 40px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
  color: #fff;
  
}

.navbar-toggler.collapsed .close-icon {
  display: inline;
  color: #fff;
}

#collapseIcon:hover {
  background-color: #9f9fed;
}

.navbar-toggler:not(.collapsed) {
  display: inline;
  color: #fff;
}

.navbar-toggler-icon {
  display: inline;
  color: #fff;
}

.navbar {
  background-color: #131d57;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: #fff;
}

.nav > li > a:hover {
  color: #e7cfb3;
  background-color:#0062cc;
  transition: 0.3s;
}

.logo:hover {
  filter: brightness(100);
  transition: 0.3;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #1b1f3b;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  margin-top: 20px;
}

.sidebar h2 {
  color: #fef9ff;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color:#0062cc;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0062cc;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 30px;
}

.openbtn:hover {
  background-color:  #1b1f3b;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}


#albumTitle,
#artistTitle,
#trackTitle,
#genreTitle,
#playlistTitle {
  margin-top: -30px;
}

.UserGreetings {
  padding: 20px;
  margin-top: 40px;
}

.UserPlaylist {
  padding: 20px;
  margin-top: -30px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#Search {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 3px;
}

#Search:hover {
  background-color: grey;
  color: white;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 2%;

}
.login-form {
  padding: 2%;
  margin-left: 16%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3 {
  text-align: center;
  color: #333;
}
.register-form {
  padding: 2%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.register-form h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 5%;
  margin-right: 15%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.register-form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.register-form .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.playlistCard th{
  display: none;
}

.card {
  display: inline-block;
  padding: 10px;
}

.row{
  margin-bottom: 50px;
}

tr {
  color: #fff;
  background-color: #1b1f3b;
  text-align: center;
}

th {
  padding-right: 10px;
  padding-left: 10px;
}

.dataRow{
  color: #fff;
  background-color: #0062cc;
  line-height: 50px;
}

.dataRow:hover {
  background-color: #0062cc;
}

.material-icons {
  align-items: center;
  color:  #1b1f3b;
}

.dataRow:hover .material-icons {
  color: #fff;
}

.btn {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.btn:hover {
  background-color:#0062cc;
}

.btnCol {
  width: 50px;
}

#PLTables {
  padding-top: 20px;
}
